body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  section {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  